####################
# Compiled sources #
####################
*.pyc
#########################
# Language translations #
#########################
/locale/
################
# Local builds #
################
/build/
/root/
################
# Backup files #
################
*.glade~
\#*.glade#
#################
# PyCharm files #
#################
/.idea/