# Compiled source #
###################
*.pyc
# Language translations #
#########################
*.mo
/po/new/
# Backup files #
################
*.glade~
\#*.glade#
# Geany files #
###############
geany_run_script.bat
# PyCharm files #
#################
/.idea/