[Desktop Entry]
Version=1.0
Name=Gespeaker
Comment=A frontend for espeak
Type=Application
Comment[it_IT]=Un frontend per espeak
Exec=/usr/bin/gespeaker
Icon=/usr/share/gespeaker/gespeaker.png
Terminal=false
Categories=AudioVideo;Audio;Player;GTK;
