Package: gespeaker
Version: 0.2
Section: sound
Priority: optional
Architecture: all
Depends: espeak, python, python-gtk2, alsa-utils
Installed-Size: 95
Maintainer: Muflone Ubuntu Trucchi <muflone@vbsimple.net>
Description: A GTK frontend for the espeak system.
 Gespeaker is a GTK frontend for espeak. It allows to play
 a text in many languages with settings for pitch, volume,
 speed and word gap.
