.table_title {
  width: 100%;
}

.methods {
  background-color: #d0e0f0;
  width: 100%;
}

.table_parameters {
  background-color: #ffecce;
  border-width: 0;
  width: 100%;
}

.method_definition {
  white-space: pre;
  font-family: monospace;
  margin-left: 20pt;
}

.method_parameters {
  font-style: italic;
}

.parameter {
  font-family: monospace;
  font-weight: bold;
}

.fixed, .method_name {
  font-family: monospace;
}

.title {
  font-weight: bold;
  line-height: 20pt;
}